<div class= "center hero-unit">
<h1>Help</h1>
</br>
<h2>To create your own quiz, please follow these steps: </h2>
  <div class="well">
  <h3>1) Create a quiz with questions and answers from other users</h3>
  <p>
  Click on "New Quiz" and specify a category. You will be guided to the create quiz site, where you can choose from the questions already created by other users.
  <p/>
  </div>
 </br>
  <div class="well">
  <h3>2) Create a quiz with your own questions and answers</h3>
  <p>
   Choose "Quiz elements" and from the dropdown, choose "Add question" which will guide you to the create questions site. After succesful creation of your question, click "New quiz", choose a category and repeat the steps above. 
  
  </br>
 
  To create some answers for your question, go to "Browse Questions" and scroll to your question just created. Then click on "show". You will be guided to the show question site, where you see a table displaying your question details and a link to create a new corresponding answer. 
  </p>
  </div>
</div>