<div class= "center hero-unit">
  <h1>Create a new Answer</h1>
  <h3>for question <%= @question.question_text %></h3>
  <h4>Note: Answers are set to "false" by default. You can choose the right answer to your question after submitting the new answer.</h4>
  <%= render "form" %>
</div>